@use "../../styles/variables.scss" as variables;
@use "../../styles/mixin.scss" as mixin;

.sidebar {
  @include mixin.container(space-between);
  flex-direction: column;
  opacity: 0.8;
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  &__container-image {
    @include mixin.container(center);
    border-bottom-right-radius: 20px;
    width: 100%;
    background-color: variables.$color-secondary;
    padding: 20px 0 20px 0;
     position: relative;
  }

  &__logo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  &__container-button {
    border-top-right-radius: 25px;
    width: 100%;
  }
  &__button {
    margin-left: 10px;
    width: 90%;
    height: 40px;
    align-self: flex-end;
    color: variables.$color-secondary;
    font-weight: bold;
    font-family: variables.$font-family-secondary;
    background: variables.$color-background;
    border: none;
    cursor: pointer;
    &:hover {
      font-weight: bold;
      text-shadow: 2px 2px 5px variables.$color-secondary;
      cursor: pointer;
      font-size: 16px;
    }
  }

  &__nav {
    display: flex;
    width: 100%;
    height: 70dvh;
    background-color: variables.$color-secondary;
    border-top-right-radius: 20px;
  }
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
  }
  &__item {
    @include mixin.container(space-around);
    width: 100%;
    height: 100%;
    a {
      text-decoration: none;
      color: variables.$color-background;
    }
    &:hover {
      font-weight: bold;
      text-shadow: 1px 1px 3px variables.$color-background;
    }
  }
  &__link {
    background: none;
    border: none;
    color: variables.$color-background;
    font-family: variables.$font-family-secondary;
    font-weight: bold;

    &:hover {
      text-shadow: 0.5px 1px 5px white;
      cursor: pointer;
      font-size: 16px;
    }
  }
}
