<section class="clients">
  <lib-modal [action]="currentClient()?.id ? 'Editar Cliente' : 'Crear Cliente'" #modal>
    <section class="clients__clients-add" aria-label="Agregar/editar cliente">
      @if(message()) {
      <div class="clients__mensaje-exito">
        {{message()}}
      </div>
      }
      <lib-add-client-form [client]="currentClient()" (onSubmit)="handleSubmit($event)">
      </lib-add-client-form>
    </section>
  </lib-modal>
  <section class="clients__content" aria-labelledby="clientes-title">
    <h1 id="clients__title">Clientes</h1>
    <table class="clients__table">
      <thead class="clients__head">
        <tr>
          <th scope="col">ID Cliente</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Es Frecuente</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody class="clients__body">
        @for(client of clients(); track client.id){
        <tr class="clients__content-cliente">
          <td>{{client.id}}</td>
          <td>{{client.name}}</td>
          <td>{{client.email}}</td>
          <td>{{client.numberPhone}}</td>
          <td>
            @if(client.isFrecuent){
            <p class="clients__content-items--frecuent-true">
              {{client.isFrecuent ? 'Si' : 'No'}}
            </p>
            }@else{
            <p class="clients__content-items--frecuent-false">
              {{ client.isFrecuent ? 'Si' : 'No' }}
            </p>
            }
          </td>
          <td>
            <lib-button [text]="'Editar'" [theme]="'primary'" (click)="editClient(client.id)">
            </lib-button>
            <hr>
            <lib-button [text]="'Eliminar'" [theme]="'danger'" (click)="deleteClient(client.id)">
            </lib-button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <div class="clients__pagination">
  <button class="clients__pagination__button clients__pagination__button--previous"
    (click)="emitChangePage(-1)"
    [disabled]="currentPage() === 0">
    Anterior
  </button>
  <span class="clients__pagination__text">Página {{ currentPage() + 1 }} de {{ totalPages() }}</span>
  <button class="clients__pagination__button clients__pagination__button--next"
    (click)="emitChangePage(1)"
    [disabled]="currentPage() >= totalPages() - 1">
    Siguiente
  </button>
</div>
  </section>
</section>
